html, body {
    height: 100%;
    width: 100%;
  }
  

  hr {
    width:100%;
  }
  /* CSS for the top logo to make responsive and position correctly */
  .container{
    width:100%;
    min-height:100px;
    padding-left:5%;
    padding-right:5%;
    box-sizing:border-box;
    overflow: hidden
  
  }
  
  /* Navigation bar responsiveness*/
  .navbar {
    width:100%;
    display:block;
    align-items:center;
  }
  
  /* Main logo */
  .logo {
    
    width:100%;
    align-items:center;
  }
  
  nav {
    flex: 1;
    text-align:center;
  }
  
  /* I used the inline grid style for my menu/navbar with no text decoration. I then edited what color they should be when hovered over */
  nav ul li {
    list-style:none;
    display: inline-grid;
  margin-right:10px;
  }
  
  nav ul li a{
    color:lightpink;
    text-decoration:none;
    font-family:sans-serif;
    font-size:16px;
    
  }
  
  nav ul li a:hover{
    color:slategray;
  }
  
  hr {
    color:slategray;
  }
  
  
  /* for help with organising the images I used the following https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive */
  .homebanner {
      width:320px;
    align-items:center;
    margin:15px;
    display:inline-grid
  }
  
  
  
  .welcome h1 {
    color:slategrey;
    margin:10px;
    font-family:sans-serif;
    text-align:center;
    background-color:lightpink;
    width:100%;
    min-height:100px;
   
   
   
  }
  
  .welcome p {
    font-family:sans-serif;
    font-size:12pt;
    color:slategray;
    text-align:center;
    margin:15px;
  }
  /* media queries to allow for optimal use on different sized screens */
  @media only screen and (max-width: 320px) {
    .homebanner {
      width: 80%;
      margin: 5px ;
      margin-right:5px;
    }
  }
  
  
  div.homeimages img {
    width: 80%;
    height: auto;
  }
  /* I originally tried to use the float command to bring the pictures to the left but instead used no float and added some large text beside each picture on the homepage */
  .homebanner {
    padding: 15px;
    float: none;
    width: 30%;
  }
  
  
  /* CSS for the Programmes page to edit table of products*/
  .table table tr th {
    color:lightpink;
    font-size:14px;
    font-family: sans-serif;
  }
  
  .table {
    text-align: center;
    width: auto;
    margin-left: 25%;
  }
  
 .table p {
   font-family: sans-serif;
   font-size: 12pt;
   color:slategray;
   margin-left:200px;
   margin-right: 200px;
 }

  footer {
    text-align:center;
    background-color: lightpink;
    padding: 20px;
    
  }
  
  footer img {
    margin-top:2px;
  }
  footer span {
    text-align:center;
    color:slategray;
    font-family:sans-serif;
  }
  
  footer span a {
    text-decoration:none;
  }
  
  .gallery {
    text-align:center;
  }
  
  .gallery img {
    display:inline-block;
    width:280px;
    height:450px;
  }
  
  .galleryvideo { 
    align-items:center;
    width:100%;
    height:100%;
  }
  
  
  .aboutus {
    text-align: center;
    color:slategrey;
    font-family:sans-serif;
    font-size:12pt;
    
  }

  .aboutus p {
    width:100%;
    min-height:100px;
    padding-left:5%;
    padding-right:5%;
    box-sizing:border-box;
    overflow: hidden
  }
  
  .aboutus img {
    width:320px;
    height:380px;
    border:solid;
    border-color:lightpink;
  }
  
  .reviews {
    width:100%;
  }
  
  .reviews img {
    width:160px;
    height:200px;
  }
  
  @media only screen and (max-width: 320px) {
    .gallery {
      width: 80%;
      margin: 5px ;
      margin-right:5px;
    }
  }
  
  
  
  @media only screen and (max-width: 320px) {
    .reviews {
      width: 80%;
      margin: 5px ;
      margin-right:5px;
    }
  }
  
  
  /* contact us page */
  .reviews p {
    color:slategray;
    font-size: 12pt;
    text-align: center;
  }

  .container h1 {
    color:lightpink;
    text-align: center;
  }
  
  .container h5 {
    color:slategray;
    text-align: center;
  }

 .reviews {
   text-align: center;
 }